body {
  font-family: "Sora", sans-serif;
  position: relative;
  background-color: #101011;
}

.container {
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
}

.white-button {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #E8E8E8;
  padding: 16px 32px;
  text-align: center;
  font-weight: 600;
  color: #FFF;
  cursor: pointer;
}

.logo {
  position: relative;
  z-index: 1000;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: -1.5px;
}
.logo a {
  color: #FFF;
}
.logo a span {
  color: #E10000;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
  padding: 32px 0;
}
.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 100px;
}
.header__menu {
  width: 100%;
}
.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__button {
  font-size: 16px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__item {
  position: relative;
}
.navbar__item.hidden {
  display: none;
  opacity: 0;
}
.navbar__item + .navbar__item {
  margin-left: 28px;
}
.navbar__item:last-child {
  padding-left: 28px;
}
.navbar__item:last-child::before {
  position: absolute;
  content: "|";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFF;
}
.navbar__link {
  color: #FFF;
  font-size: 18px;
  line-height: 150%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.navbar__link:hover, .navbar__link.active {
  color: #E10000;
}

.home {
  background: #242428;
  height: 100vh;
}

.footer {
  background-color: #000;
  height: 100vh;
  color: #FFF;
  position: relative;
}
.footer__inner {
  width: 100%;
  height: 100vh;
  position: relative;
}
.footer__top {
  position: absolute;
  top: 0;
  z-index: 400;
  width: 100%;
  margin: 72px 0 36px;
}
.footer__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__content {
  position: relative;
  z-index: 300;
  height: 100%;
  width: 100%;
}
.footer__content .container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__title {
  position: relative;
  z-index: 300;
  font-size: 120px;
  line-height: 130%;
  margin-bottom: 40px;
  font-weight: 700;
}
.footer__subtitle {
  position: relative;
  z-index: 300;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}
.footer__socials {
  position: relative;
  z-index: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socials-item {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.footer__socials-item + .footer__socials-item {
  margin-left: 32px;
}
.footer__socials-item:hover path {
  fill: #E10000;
}
.footer__socials-item:hover .footer__socials-link {
  background-color: rgba(16, 16, 16, 0.25);
}
.footer__socials-item:hover {
  -webkit-box-shadow: 0 0 12px 0 #E10000;
          box-shadow: 0 0 12px 0 #E10000;
}
.footer__socials-link {
  background-color: #EFEFEF;
  padding: 18px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 100px;
  height: 100%;
  display: block;
}
.footer__socials-link.telegram {
  padding: 23px 20px 20px 16px;
}
.footer__socials-link svg path {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.footer__video {
  position: absolute;
  z-index: 200;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer__bottom {
  position: absolute;
  z-index: 400;
  bottom: 0;
  padding: 60px 0;
  width: 100%;
}
.footer__bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  line-height: 30px;
}
.footer__bottom-links a {
  color: #FFF;
}

@media (max-width: 1500px) {
  .container {
    max-width: 1040px;
  }
  .logo {
    font-size: 24px;
    line-height: 28px;
  }
  .white-button {
    padding: 8px 16px;
  }
  .navbar__item {
    line-height: 120%;
    text-align: center;
  }
  .navbar__item + .navbar__item {
    margin-left: 16px;
  }
  .navbar__item:last-child {
    padding-left: 16px;
  }
  .navbar__link {
    font-size: 14px;
  }
  .header {
    padding: 20px 0;
  }
  .header__button {
    font-size: 14px;
    line-height: 120%;
  }
  .footer__top {
    margin-top: 56px;
  }
  .footer__title {
    font-size: 80px;
    line-height: 120%;
    margin-bottom: 25px;
  }
  .footer__subtitle {
    font-size: 20px;
    line-height: 120%;
  }
  .footer__socials-item {
    width: 56px;
    height: 56px;
  }
  .footer__socials-item + .footer__socials-item {
    margin-left: 28px;
  }
  .footer__socials-link.instagram {
    padding: 9px 12px 7px;
  }
  .footer__socials-link.whatsapp {
    padding: 10px 7px 17px 13px;
  }
  .footer__socials-link.telegram {
    padding: 14px 10px 10px 10px;
  }
  .footer__socials svg {
    width: 32px;
  }
  .footer__bottom > a {
    font-size: 14px;
    line-height: 150%;
  }
}
@media (max-width: 970px) {
  .header__navbar {
    opacity: 0;
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: block;
    text-align: center;
    background-color: #242428;
    padding: 20px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .header__navbar.active {
    opacity: 1;
  }
  .header__navbar-list {
    margin-top: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__navbar-item + .header__navbar-item {
    margin: 30px 0 0;
  }
  .header__navbar-item:last-child {
    padding: 0;
  }
  .header__navbar-item:last-child::before {
    content: "";
  }
  .header__navbar-link {
    font-size: 24px;
  }
  .header__menu-wrapper {
    position: absolute;
    z-index: 500;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 64px;
    height: 32px;
  }
  .header__menu-icon {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .header__menu-icon.active span.first-line {
    width: 34px;
    -webkit-transform: rotate(45deg) translateY(-50%);
        -ms-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
    top: 50%;
  }
  .header__menu-icon.active span.second-line {
    width: 34px;
    -webkit-transform: rotate(-45deg) translateY(50%);
        -ms-transform: rotate(-45deg) translateY(50%);
            transform: rotate(-45deg) translateY(50%);
    bottom: 50%;
  }
  .header__menu-icon span {
    position: absolute;
    display: block;
    background-color: #fff;
    border-radius: 2px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header__menu-icon span.first-line {
    right: 0;
    top: 25%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 34px;
    height: 2px;
  }
  .header__menu-icon span.second-line {
    right: 0;
    bottom: 25%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    width: 49px;
    height: 2px;
  }
  .header__button {
    margin-top: 200px;
    width: 100%;
    font-size: 24px;
    padding: 16px 32px;
    max-width: 540px;
  }
  .footer__top {
    top: 100%;
    margin-top: 0;
    padding: 40px 0;
    background-color: #101011;
  }
  .footer__top .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__navbar-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__navbar-item {
    margin-top: 20px;
  }
  .footer__navbar-item:last-child {
    padding: 0;
    margin-bottom: 40px;
  }
  .footer__navbar-item:last-child::before {
    content: "";
  }
  .footer__navbar-link {
    font-size: 20px;
    line-height: 150%;
  }
  .footer__title {
    font-size: 60px;
    margin-bottom: 16px;
  }
  .footer__subtitle {
    font-size: 30px;
  }
  .footer__socials-item + .footer__socials-item {
    margin-left: 24px;
  }
  .footer__bottom {
    padding: 0;
    top: 165%;
    background-color: #101011;
  }
  .footer__bottom .container {
    background-color: #101011;
  }
  .footer__bottom-links {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom-links a {
    font-size: 18px;
    margin: 10px 0;
  }
}
@media (max-width: 570px) {
  .header__navbar {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .header__navbar-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__button {
    font-size: 14px;
    width: 100%;
  }
  .footer__navbar-item + .footer__navbar-item {
    margin: 15px 0;
  }
  .footer__title {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .footer__subtitle {
    font-size: 20px;
    max-width: 250px;
  }
  .footer__socials-item {
    width: 32px;
    height: 32px;
  }
  .footer__socials-item + .footer__socials-item {
    margin-left: 20px;
  }
  .footer__socials-item svg {
    width: 16px;
  }
  .footer__socials-link.instagram {
    padding: 0px 10px 50px 8px;
    margin-top: -3px;
  }
  .footer__socials-link.whatsapp {
    padding: 0 15px 95px 10px;
    margin-top: -2px;
    margin-left: -2px;
  }
  .footer__socials-link.telegram {
    padding: 2px 15px 20px 8px;
    margin-left: -1px;
  }
}