@charset "UTF-8";
body {
  font-family: "Sora", sans-serif;
  position: relative;
}

.container {
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
}

.white-button {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #E8E8E8;
  padding: 16px 32px;
  text-align: center;
  font-weight: 600;
  color: #FFF;
  cursor: pointer;
}

.red-button {
  background: #E10000;
  border-radius: 5px;
  padding: 20px;
  font-weight: 600;
  color: #FFF;
}

.logo {
  position: relative;
  z-index: 1000;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: -1.5px;
}
.logo a {
  color: #FFF;
}
.logo a span {
  color: #E10000;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
  padding: 32px 0;
}
.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 100px;
}
.header__menu {
  width: 100%;
}
.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__button {
  font-size: 16px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__item {
  position: relative;
}
.navbar__item.hidden {
  display: none;
  opacity: 0;
}
.navbar__item + .navbar__item {
  margin-left: 28px;
}
.navbar__item:last-child {
  padding-left: 28px;
}
.navbar__item:last-child::before {
  position: absolute;
  content: "|";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFF;
}
.navbar__link {
  color: #FFF;
  font-size: 18px;
  line-height: 150%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.navbar__link:hover, .navbar__link.active {
  color: #E10000;
}

.home {
  background: #242428;
  height: 1000px;
  overflow: hidden;
}

.banner {
  position: relative;
  background: #E10000;
  overflow: hidden;
  z-index: 500;
}
.banner__wrapper {
  padding: 37px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-animation: moveToLeft 6s ease-in-out infinite alternate;
          animation: moveToLeft 6s ease-in-out infinite alternate;
}
@-webkit-keyframes moveToLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-157%, 0, 0);
            transform: translate3d(-157%, 0, 0);
  }
}
@keyframes moveToLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-157%, 0, 0);
            transform: translate3d(-157%, 0, 0);
  }
}
@-webkit-keyframes moveToRight {
  from {
    -webkit-transform: translate3d(-157%, 0, 0);
            transform: translate3d(-157%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes moveToRight {
  from {
    -webkit-transform: translate3d(-157%, 0, 0);
            transform: translate3d(-157%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.banner__text {
  font-size: 136px;
  font-weight: 700;
  line-height: 146px;
  letter-spacing: -2.72px;
  color: #E8E8E8;
}
.banner__text + .banner__text {
  margin-left: 62px;
}
.banner__text:nth-of-type(2n) {
  color: #E10000; /* красный цвет текста */
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.about {
  background-color: #000;
  position: relative;
  color: #FFF;
  padding: 320px 0 240px;
  overflow: hidden;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__content {
  max-width: 735px;
}
.about__title {
  position: relative;
  z-index: 300;
  font-size: 120px;
  line-height: 130%;
  font-weight: 700;
}
.about__text {
  position: relative;
  z-index: 300;
  margin: 40px 0 60px;
  font-size: 22px;
  line-height: 36px;
}
.about__buttons {
  position: relative;
  z-index: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  max-width: 564px;
}
.about__button {
  font-size: 24px;
}
.about__button.white-button {
  width: 272px;
  padding: 18px 20px;
}
.about__button.main-button {
  width: 564px;
}
.about__video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  top: 6%;
  right: -25%;
}

.location {
  background: #FFF;
  padding: 175px 0 265px;
}
.location__map {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url(../images/map.png);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url(../images/map.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.location__map-place {
  background-color: transparent;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  width: 45px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 200;
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}
.location__map-place:hover {
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
}
.location__map-place:hover .place__desc {
  display: block;
  opacity: 1;
}
.location__map-place.place1 {
  left: 15%;
  bottom: 40%;
}
.location__map-place.place2 {
  left: 14%;
  bottom: 80%;
}
.location__map-place.place3 {
  right: 12%;
  bottom: 23%;
}
.location__map-place.place4 {
  left: 42%;
  bottom: 76%;
}
.location__map-place.place5 {
  right: 37%;
  bottom: 70%;
}
.location__map-place.visible {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}
.location__map-place .place {
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
  position: absolute;
}
.location__map-place .place__desc {
  margin-top: 10px;
  width: 230px;
  height: 420px;
  background-color: #fbfbfb;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.location__map-place .place__desc:hover {
  display: block;
}
.location__map-place .place__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 60px;
}
.location__map-place .place__flag {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.location__map-place .place__flag img {
  height: 100%;
}

.cards {
  background: #1A1A1A;
}
.cards__list {
  max-width: 1720px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin: 0 auto;
}
.cards .card {
  display: block;
  width: 390px;
  height: 545px;
  border-radius: 8px;
  padding: 40px 20px 32px;
  color: #FFF;
  margin-top: -130px;
  margin-bottom: 160px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
  background: #000;
}
.cards .card__inner {
  position: relative;
  z-index: 10;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.cards .card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards .card__arrow {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.cards .card__number {
  font-family: "SF Pro Display", sans-serif;
  font-size: 68px;
  line-height: 100%;
  font-weight: 500;
  position: relative;
  z-index: 2;
}
.cards .card__title {
  margin: 80px 0 20px;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
.cards .card__text {
  font-size: 18px;
  line-height: 180%;
}
.cards .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/images/card-bg2.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../assets/images/card-bg2.jpg);
  border-radius: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.cards .card:hover .card__inner {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.cards .card:hover::before {
  opacity: 1;
}
.cards .card:hover .card__arrow {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.cards .card:hover .card__top {
  padding-top: -10px;
}

.advantages {
  padding: 80px 0;
  background-color: #fff;
  color: #282828;
}
.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.advantages__row + .advantages__row {
  margin-top: 50px;
}
.advantages__card {
  max-width: 360px;
}
.advantages__card-title {
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 16px;
}
.advantages__card-text {
  font-size: 16px;
  line-height: 22px;
}

.blog {
  background: #0F0F0F;
  padding: 120px 0 140px;
}
.blog__title {
  position: relative;
  color: #FFF;
  font-size: 90px;
  line-height: 100%;
  margin-bottom: 100px;
  padding-right: 110px;
}
.blog__title::after {
  position: absolute;
  width: 86px;
  height: 86px;
  content: "";
  left: 650px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../assets/images/arrow.png);
  background-size: cover;
}
.blog__inner {
  max-width: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}
.blog__item {
  display: block;
  padding: 20px;
  border-radius: 10px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.blog__item.item1 {
  grid-row: 1/9;
  grid-column: 1/2;
}
.blog__item.item2 {
  grid-row: 1/13;
  grid-column: 2/3;
}
.blog__item.item3 {
  grid-row: 1/11;
  grid-column: 3/4;
}
.blog__item.item4 {
  grid-row: 1/21;
  grid-column: 4/5;
}
.blog__item.item5 {
  grid-row: 9/21;
  grid-column: 1/2;
}
.blog__item.item6 {
  grid-row: 13/21;
  grid-column: 2/3;
}
.blog__item.item7 {
  grid-row: 11/21;
  grid-column: 3/4;
}
.blog__item.yellow {
  background: #EFCC21;
  color: #0A0A0A;
}
.blog__item.red {
  background: #E13838;
  color: #FFF;
}
.blog__item.white {
  background: #FAFAFA;
  color: #0A0A0A;
}
.blog__item.blue {
  background: #3645E5;
  color: #FFF;
}
.blog__item.background {
  background-image: url(../assets/images/support_cleanup.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFF;
}
.blog__item.background .blog__item-title {
  position: absolute;
  top: 675px;
}
.blog__item.background:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/images/support_cleanup.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../assets/images/support_cleanup.png);
}
.blog__item.background:hover .blog__item-title {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFF;
}
.blog__item-content {
  position: relative;
  height: 100%;
  width: 100%;
}
.blog__item-title {
  font-size: 40px;
  line-height: 120%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.blog__item-text {
  position: absolute;
  font-size: 18px;
  line-height: 120%;
  margin-top: 16px;
  -webkit-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
  opacity: 0;
}
.blog__item:hover {
  background-color: #fff;
  color: #000;
}
.blog__item:hover .blog__item-title {
  position: relative;
  top: 0;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.blog__item:hover .blog__item-text {
  position: relative;
  opacity: 1;
}

.roadmap {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(26, 26, 29, 0.75)), to(rgba(26, 26, 29, 0.75))), url(../assets/images/background.jpg);
  background-image: linear-gradient(0deg, rgba(26, 26, 29, 0.75) 0%, rgba(26, 26, 29, 0.75) 100%), url(../assets/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 120px 0;
}
.roadmap__inner {
  text-align: center;
}
.roadmap__title {
  font-size: 60px;
  line-height: 150%;
  font-weight: 700;
  text-align: center;
}
.roadmap__list {
  text-align: left;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 64px 0;
}
.roadmap__item {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.roadmap__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-item-align: end;
      align-self: end;
}
.roadmap__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.roadmap__item-img-wrapper {
  width: 400px;
  height: 400px;
}
.roadmap__item-desc {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.roadmap__item-title {
  font-size: 44px;
  line-height: 72px;
  margin-bottom: 12px;
  font-weight: 600;
}
.roadmap__item-text {
  font-size: 18px;
  line-height: 180%;
}
.roadmap__btn {
  width: 412px;
}

.eco {
  background-color: #242428;
  padding: 120px 0 180px;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.eco__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
}
.eco__text {
  font-size: 24px;
  line-height: 180%;
  margin-bottom: 60px;
}
.eco__inner {
  position: relative;
  z-index: 50;
}
.eco__lock {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-27.84%, rgba(36, 36, 40, 0.2)), to(#242428));
  background: linear-gradient(180deg, rgba(36, 36, 40, 0.2) -27.84%, #242428 100%);
}
.eco__lock-desc {
  margin-top: 20px;
  font-size: 20px;
  line-height: 150%;
  max-width: 470px;
  text-align: center;
}
.eco__platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1320px;
  height: 330px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  overflow: hidden;
  margin: 0 auto;
}
.eco__platform {
  background-color: #4C4D54;
  width: 240px;
  height: 150px;
  border-radius: 8px;
}

.contacts {
  padding: 150px 0;
  background: #1A1A1D;
}
.contacts__title {
  font-size: 60px;
  line-height: 130%;
  font-weight: 700;
  color: #FFF;
}
.contacts__text {
  margin: 10px 0 50px;
  font-size: 28px;
  line-height: 40px;
  color: #FFF;
}
.contacts__app {
  padding: 54px 54px 60px;
  background: #FFD400;
  color: #272727;
}
.contacts__app-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__app-title {
  font-size: 44px;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 12px;
}
.contacts__app-text {
  font-size: 22px;
  line-height: 100%;
}
.contacts__app-data {
  font-size: 22px;
  line-height: 100%;
}
.contacts__app-data + .contacts__app-data {
  margin-top: 16px;
}
.contacts__app-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  margin: 56px 0;
}
.contacts__app-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.contacts__app-label {
  font-size: 24px;
  line-height: 110%;
  margin-bottom: 18px;
}
.contacts__app-input {
  background-color: #fff;
  padding: 22px 25px 18px;
  color: #272727;
}
.contacts__app-input::-webkit-input-placeholder {
  font-size: 25px;
  line-height: 135%;
  color: #A9A9A9;
}
.contacts__app-input::-moz-placeholder {
  font-size: 25px;
  line-height: 135%;
  color: #A9A9A9;
}
.contacts__app-input:-ms-input-placeholder {
  font-size: 25px;
  line-height: 135%;
  color: #A9A9A9;
}
.contacts__app-input::-ms-input-placeholder {
  font-size: 25px;
  line-height: 135%;
  color: #A9A9A9;
}
.contacts__app-input::placeholder {
  font-size: 25px;
  line-height: 135%;
  color: #A9A9A9;
}
.contacts__app-button {
  position: relative;
  text-align: center;
  font-weight: 600;
  width: 100%;
  padding: 28px 42px;
  font-size: 25px;
  line-height: 135%;
  background: #272727;
  color: #FFF;
}
.contacts__app-button::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../assets/images/arrow-right.png);
  background-position: center;
  background-size: cover;
}

.footer {
  background-color: #000;
  height: 1080px;
  color: #FFF;
  position: relative;
}
.footer__inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.footer__top {
  position: absolute;
  top: 0;
  z-index: 400;
  width: 100%;
  margin: 72px 0 36px;
}
.footer__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__content {
  position: relative;
  z-index: 300;
  height: 100%;
  width: 100%;
}
.footer__content .container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__title {
  position: relative;
  z-index: 300;
  font-size: 120px;
  line-height: 130%;
  margin-bottom: 40px;
  font-weight: 700;
}
.footer__subtitle {
  position: relative;
  z-index: 300;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}
.footer__socials {
  position: relative;
  z-index: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socials-item {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.footer__socials-item + .footer__socials-item {
  margin-left: 32px;
}
.footer__socials-item:hover path {
  fill: #E10000;
}
.footer__socials-item:hover .footer__socials-link {
  background-color: rgba(16, 16, 16, 0.25);
}
.footer__socials-item:hover {
  -webkit-box-shadow: 0 0 12px 0 #E10000;
          box-shadow: 0 0 12px 0 #E10000;
}
.footer__socials-link {
  background-color: #EFEFEF;
  padding: 18px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 100px;
  height: 100%;
  display: block;
}
.footer__socials-link.telegram {
  padding: 23px 20px 20px 16px;
}
.footer__socials-link svg path {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.footer__video {
  position: absolute;
  z-index: 200;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer__bottom {
  position: absolute;
  z-index: 400;
  bottom: 0;
  padding: 60px 0;
  width: 100%;
}
.footer__bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  line-height: 30px;
}
.footer__bottom-links a {
  color: #FFF;
}

@media (max-width: 1500px) {
  .container {
    max-width: 1040px;
  }
  .logo {
    font-size: 24px;
    line-height: 28px;
  }
  .white-button {
    padding: 8px 16px;
  }
  .navbar__item {
    line-height: 120%;
    text-align: center;
  }
  .navbar__item + .navbar__item {
    margin-left: 16px;
  }
  .navbar__item:last-child {
    padding-left: 16px;
  }
  .navbar__link {
    font-size: 14px;
  }
  .header {
    padding: 20px 0;
  }
  .header__logo {
    margin-right: 45px;
  }
  .header__button {
    font-size: 14px;
    line-height: 120%;
  }
  .banner__wrapper {
    padding: 25px 35px;
  }
  .banner__text {
    font-size: 80px;
    line-height: 120%;
  }
  .banner__text + .banner__text {
    margin-left: 45px;
  }
  @-webkit-keyframes moveToLeft {
    from {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    to {
      -webkit-transform: translate3d(-112%, 0, 0);
              transform: translate3d(-112%, 0, 0);
    }
  }
  @keyframes moveToLeft {
    from {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    to {
      -webkit-transform: translate3d(-112%, 0, 0);
              transform: translate3d(-112%, 0, 0);
    }
  }
  @-webkit-keyframes moveToRight {
    from {
      -webkit-transform: translate3d(-112%, 0, 0);
              transform: translate3d(-112%, 0, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
  @keyframes moveToRight {
    from {
      -webkit-transform: translate3d(-112%, 0, 0);
              transform: translate3d(-112%, 0, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
  .about {
    padding: 160px 0;
  }
  .about__content {
    max-width: 420px;
  }
  .about__title {
    font-size: 70px;
  }
  .about__text {
    font-size: 18px;
    line-height: 170%;
    margin: 24px 0 32px;
  }
  .about__buttons {
    max-width: 100%;
  }
  .about__button {
    font-size: 16px;
  }
  .about__button.white-button {
    padding: 12px 20px;
    width: 200px;
  }
  .about__button.main-button {
    padding: 14px;
    width: 420px;
  }
  .about__video {
    top: 4%;
    right: -20%;
  }
  .location {
    padding: 120px 0 200px;
  }
  .location__map {
    max-width: 930px;
  }
  .location .place {
    width: 32px;
    height: 40px;
  }
  .location .place__desc {
    height: 280px;
    width: 150px;
  }
  .location .place__country {
    height: 40px;
  }
  .cards__list {
    gap: 30px;
    max-width: 1170px;
  }
  .cards .card {
    max-width: 260px;
    height: 420px;
    margin-top: -100px;
    margin-bottom: 100px;
  }
  .cards .card__number {
    font-size: 50px;
  }
  .cards .card__arrow {
    width: 54px;
    height: 54px;
  }
  .cards .card__title {
    margin: 30px 0 15px;
    font-size: 24px;
    line-height: 120%;
  }
  .cards .card__text {
    font-size: 16px;
    line-height: 24px;
  }
  .advantages__row + .advantages__row {
    margin-top: 40px;
  }
  .advantages__card {
    max-width: 220px;
  }
  .advantages__card-title {
    font-size: 24px;
    line-height: 28px;
  }
  .advantages__card-text {
    font-size: 14px;
    line-height: 18px;
  }
  .blog {
    padding: 100px;
  }
  .blog__title {
    font-size: 65px;
    margin-bottom: 60px;
  }
  .blog__title::after {
    width: 70px;
    height: 70px;
    left: 470px;
  }
  .blog__inner {
    gap: 30px;
  }
  .blog__item {
    padding: 20px 10px;
  }
  .blog__item-title {
    font-size: 20px;
  }
  .blog__item-text {
    font-size: 14px;
  }
  .blog__item.background .blog__item-title {
    top: 500px;
  }
  .roadmap {
    padding: 100px 0;
  }
  .roadmap__title {
    font-size: 45px;
    line-height: 120%;
  }
  .roadmap__list {
    margin: 40px 0;
    max-width: 1000px;
  }
  .roadmap__item {
    width: 600px;
  }
  .roadmap__item-img-wrapper {
    width: 300px;
    height: 300px;
  }
  .roadmap__item-title {
    font-size: 30px;
    line-height: 40px;
  }
  .roadmap__item-text {
    font-size: 14px;
    max-width: 280px;
  }
  .roadmap__btn {
    max-width: 340px;
  }
  .eco {
    padding: 100px 0;
  }
  .eco__title {
    font-size: 45px;
  }
  .eco__text {
    font-size: 20px;
    margin-bottom: 45px;
  }
  .eco__platforms {
    max-width: 820px;
    height: 260px;
    gap: 20px;
  }
  .eco__platform {
    width: 190px;
    height: 120px;
  }
  .contacts {
    padding: 80px 0;
  }
  .contacts__title {
    font-size: 45px;
    line-height: 120%;
  }
  .contacts__text {
    font-size: 24px;
    margin: 5px 0 30px;
  }
  .contacts__app {
    padding: 40px 25px;
  }
  .contacts__app-title {
    font-size: 32px;
  }
  .contacts__app-text {
    font-size: 18px;
    margin-top: 6px;
  }
  .contacts__app-data {
    font-size: 18px;
  }
  .contacts__app-data + .contacts__app-data {
    margin-top: 10px;
  }
  .contacts__app-fields {
    margin: 42px 0;
  }
  .contacts__app-label {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .contacts__app-input {
    padding: 16px 20px 12px;
  }
  .contacts__app-input::-webkit-input-placeholder {
    font-size: 20px;
  }
  .contacts__app-input::-moz-placeholder {
    font-size: 20px;
  }
  .contacts__app-input:-ms-input-placeholder {
    font-size: 20px;
  }
  .contacts__app-input::-ms-input-placeholder {
    font-size: 20px;
  }
  .contacts__app-input::placeholder {
    font-size: 20px;
  }
  .contacts__app-button {
    padding: 20px 32px;
  }
  .footer {
    height: 900px;
  }
  .footer__top {
    margin-top: 56px;
  }
  .footer__title {
    font-size: 80px;
    line-height: 120%;
    margin-bottom: 25px;
  }
  .footer__subtitle {
    font-size: 20px;
    line-height: 120%;
  }
  .footer__socials-item {
    width: 56px;
    height: 56px;
  }
  .footer__socials-item + .footer__socials-item {
    margin-left: 28px;
  }
  .footer__socials-link.instagram {
    padding: 9px 12px 7px;
  }
  .footer__socials-link.whatsapp {
    padding: 10px 7px 17px 13px;
  }
  .footer__socials-link.telegram {
    padding: 14px 10px 10px 10px;
  }
  .footer__socials svg {
    width: 32px;
  }
  .footer__bottom {
    padding: 25px 0;
  }
  .footer__bottom a {
    font-size: 14px;
    line-height: 150%;
  }
}
@media (max-width: 970px) {
  .header__navbar {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: block;
    text-align: center;
    background-color: #1E1E1F;
    padding: 20px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .header__navbar.active {
    opacity: 1;
    display: block;
  }
  .header__navbar-list {
    margin-top: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__navbar-item + .header__navbar-item {
    margin: 30px 0 0;
  }
  .header__navbar-item:last-child {
    padding: 0;
  }
  .header__navbar-item:last-child::before {
    content: "";
  }
  .header__navbar-link {
    font-size: 24px;
  }
  .header__menu-wrapper {
    position: absolute;
    z-index: 500;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 64px;
    height: 32px;
  }
  .header__menu-icon {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .header__menu-icon.active span.first-line {
    width: 34px;
    -webkit-transform: rotate(45deg) translateY(-50%);
        -ms-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
    top: 50%;
  }
  .header__menu-icon.active span.second-line {
    width: 34px;
    -webkit-transform: rotate(-45deg) translateY(50%);
        -ms-transform: rotate(-45deg) translateY(50%);
            transform: rotate(-45deg) translateY(50%);
    bottom: 50%;
  }
  .header__menu-icon span {
    position: absolute;
    display: block;
    background-color: #fff;
    border-radius: 2px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header__menu-icon span.first-line {
    right: 0;
    top: 25%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 34px;
    height: 2px;
  }
  .header__menu-icon span.second-line {
    right: 0;
    bottom: 25%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    width: 49px;
    height: 2px;
  }
  .header__button {
    margin-top: 200px;
    width: 100%;
    font-size: 24px;
    padding: 16px 32px;
    max-width: 540px;
  }
  .banner__wrapper {
    padding: 20px;
  }
  .banner__text {
    font-size: 60px;
  }
  .banner__text + .banner__text {
    margin-left: 30px;
  }
  .about {
    padding: 80px 0;
  }
  .about__inner {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 600px;
  }
  .about__title {
    font-size: 50px;
  }
  .about__text {
    font-size: 16px;
    margin: 20px 0 0;
    text-align: justify;
  }
  .about__video {
    position: relative;
    top: 0;
    right: 0;
  }
  .about__buttons {
    max-width: 520px;
  }
  .about__button {
    font-size: 24px;
    padding: 18px;
    line-height: 100%;
  }
  .about__button.main-button {
    width: 520px;
  }
  .about__button.white-button {
    padding: 13px;
    width: 250px;
  }
  .location {
    padding: 80px 0 140px;
  }
  .location__map {
    max-width: 630px;
  }
  .location .place {
    width: 24px;
    height: 28px;
  }
  .location .place__desc {
    position: absolute;
  }
  .location .place.place3 .place__desc {
    right: 0;
  }
  .cards__list {
    max-width: 100%;
    gap: 30px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cards .card {
    max-width: 340px;
    height: 340px;
    padding: 30px 15px;
    margin-top: -80px;
  }
  .cards .card__inner {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }
  .cards .card__number {
    font-size: 45px;
    line-height: 45px;
  }
  .cards .card__arrow {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 48px;
    height: 48px;
  }
  .cards .card__title {
    font-size: 32px;
    margin: 30px 0;
  }
  .cards .card__text {
    font-size: 16px;
    line-height: 22px;
  }
  .advantages__row {
    max-width: 530px;
    gap: 30px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__row + .advantages__row {
    margin-top: 25px;
  }
  .advantages__card {
    max-width: 250px;
  }
  .advantages__card-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .advantages__card-text {
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
  }
  .blog {
    padding: 80px 0;
  }
  .blog__title {
    text-align: center;
    font-size: 50px;
    padding: 0;
    margin-bottom: 40px;
  }
  .blog__title::after {
    width: 0;
    height: 0;
    background-image: none;
  }
  .blog__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .blog__item {
    min-height: 120px;
    padding: 40px 20px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .blog__item.background {
    background-image: url(../assets/images/support.png);
  }
  .blog__item.background .blog__item-title {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .blog__item.background:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/images/support.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../assets/images/support.png);
  }
  .blog__item-content {
    min-height: 40px;
  }
  .blog__item-title {
    font-size: 24px;
  }
  .blog__item-text {
    font-size: 18px;
  }
  .roadmap {
    padding: 80px 0;
  }
  .roadmap__title {
    font-size: 32px;
  }
  .roadmap__list {
    margin: 20px auto 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 600px;
  }
  .roadmap__item {
    display: block;
    width: 250px;
  }
  .roadmap__item-img-wrapper {
    width: 250px;
    height: 250px;
  }
  .roadmap__item-desc {
    max-width: 100%;
    display: block;
  }
  .roadmap__item-title {
    font-size: 20px;
    margin: 0 auto;
  }
  .roadmap__item-text {
    text-align: justify;
  }
  .eco {
    padding: 80px 0;
  }
  .eco__title {
    font-size: 40px;
  }
  .eco__text {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 500px;
  }
  .eco__lock {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-57.84%, rgba(36, 36, 40, 0.2)), to(#242428));
    background: linear-gradient(180deg, rgba(36, 36, 40, 0.2) -57.84%, #242428 100%);
  }
  .eco__lock-desc {
    font-size: 18px;
    margin-top: 15px;
    max-width: 360px;
  }
  .eco__platforms {
    max-width: 490px;
    height: 310px;
  }
  .eco__platform {
    width: 150px;
    height: 90px;
  }
  .contacts__title {
    font-size: 36px;
    text-align: center;
  }
  .contacts__text {
    font-size: 20px;
    margin: 0 0 54px;
    text-align: center;
  }
  .contacts__app {
    max-width: 640px;
    margin: 0 auto;
  }
  .contacts__app-text {
    display: none;
  }
  .contacts__app-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .contacts__app-fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 32px 0;
  }
  .contacts__app-input {
    padding: 16px 16px 12px;
  }
  .contacts__app-label {
    margin-bottom: 8px;
  }
  .contacts__app-button {
    font-size: 16px;
    padding: 20px;
  }
  .contacts__app-button::after {
    width: 24px;
    height: 24px;
  }
  .footer {
    height: 1000px;
  }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top {
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    padding: 40px 0;
    background-color: #101011;
  }
  .footer__top .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__navbar-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__navbar-item {
    margin-top: 20px;
  }
  .footer__navbar-item:last-child {
    padding: 0;
  }
  .footer__navbar-item:last-child::before {
    content: "";
  }
  .footer__navbar-link {
    font-size: 20px;
    line-height: 150%;
  }
  .footer__title {
    font-size: 60px;
    margin-bottom: 16px;
  }
  .footer__subtitle {
    font-size: 30px;
    max-width: 400px;
  }
  .footer__bottom {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: relative;
    padding: 0;
    background-color: #101011;
  }
  .footer__bottom-links {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom-links a {
    font-size: 18px;
    margin: 10px 0;
  }
}
@media (max-width: 570px) {
  .header__navbar {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .header__navbar-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__button {
    font-size: 14px;
    width: 100%;
  }
  .banner__text {
    font-size: 40px;
    line-height: 100%;
  }
  .banner__text + .banner__text {
    margin-left: 20px;
  }
  .about__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    position: relative;
  }
  .about__title {
    font-size: 40px;
  }
  .about__buttons {
    display: block;
    max-width: 100%;
  }
  .about__button {
    margin: 10px 0;
  }
  .about__button.main-button {
    width: 100%;
  }
  .about__button.white-button {
    width: 100%;
  }
  .cards .card {
    max-width: 400px;
  }
  .blog__title {
    font-size: 40px;
  }
  .blog__item {
    min-height: 100px;
  }
  .blog__item-title {
    font-size: 20px;
  }
  .blog__item-text {
    font-size: 14px;
  }
  .advantages__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__card {
    max-width: 100%;
  }
  .advantages__card-title {
    max-width: 250px;
    text-align: center;
    margin: 0 auto 10px;
  }
  .advantages__card-text {
    max-width: 360px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0F0F0F;
  }
  .roadmap__list {
    display: block;
  }
  .roadmap__item {
    text-align: center;
    width: 100%;
  }
  .roadmap__item-desc {
    width: 100%;
  }
  .roadmap__item-text {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
  }
  .roadmap__item-img-wrapper {
    margin: 0 auto;
  }
  .roadmap__btn {
    max-width: 100%;
  }
  .contacts__title {
    font-size: 32px;
    line-height: 48px;
  }
  .contacts__text {
    font-size: 16px;
    line-height: 20px;
  }
  .contacts__app {
    padding: 20px 16px;
  }
  .contacts__app-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .contacts__app-data {
    font-size: 16px;
  }
  .contacts__app-data + .contacts__app-data {
    margin-top: 16px;
  }
  .contacts__app-label {
    font-size: 16px;
  }
  .contacts__app-input {
    border-radius: 5px;
  }
  .contacts__app-input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .contacts__app-input::-moz-placeholder {
    font-size: 14px;
  }
  .contacts__app-input:-ms-input-placeholder {
    font-size: 14px;
  }
  .contacts__app-input::-ms-input-placeholder {
    font-size: 14px;
  }
  .contacts__app-input::placeholder {
    font-size: 14px;
  }
  .contacts__app-button {
    border-radius: 5px;
  }
  .footer__navbar-item + .footer__navbar-item {
    margin: 15px 0;
  }
  .footer__title {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .footer__subtitle {
    font-size: 20px;
    max-width: 250px;
  }
  .footer__socials-item {
    width: 32px;
    height: 32px;
  }
  .footer__socials-item + .footer__socials-item {
    margin-left: 20px;
  }
  .footer__socials-item svg {
    width: 16px;
  }
  .footer__socials-link.instagram {
    padding: 0px 10px 50px 8px;
    margin-top: -3px;
  }
  .footer__socials-link.whatsapp {
    padding: 0 15px 95px 10px;
    margin-top: -2px;
    margin-left: -2px;
  }
  .footer__socials-link.telegram {
    padding: 2px 15px 20px 8px;
    margin-left: -1px;
  }
}