
body{
    font-family: "Sora", sans-serif;
    position: relative;
}

.container{
    max-width: 1640px;
    padding: 0 20px;
    margin: 0 auto;
}

.white-button{
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #E8E8E8;
    padding: 16px 32px;
    text-align: center;
    font-weight: 600;
    color: #FFF;
    cursor: pointer;
}

.red-button{
    background: #E10000;
    border-radius: 5px;
    padding: 20px;
    font-weight: 600;
    color: #FFF;
}

.logo{
    position: relative;
    z-index: 1000;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: -1.5px;
    a{
        color: #FFF;
        span{
            color: #E10000;
        }
    }
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 500;
    padding: 32px 0;

    &__inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        margin-right: 100px;
    }

    &__menu{
        width: 100%;
    }

    &__navbar{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;       
    }

    &__button{
        font-size: 16px;
    }
}

.navbar{
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        position: relative;
        
        &.hidden{
            display: none;
            opacity: 0;
        }
        &+&{
            margin-left: 28px;
        }
        &:last-child{
            padding-left: 28px;
            &::before{
                position: absolute;
                content:"|";
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                color: #FFF;
            }
        }
    }
    &__link{
        color: #FFF;
        font-size: 18px;
        line-height: 150%;
        transition: 0.5s ease;
        &:hover, &.active{
            color: #E10000;
        }
    }
}

.home{
    background: #242428;
    height: 1000px;
    overflow: hidden;
}

.banner{
    position: relative;
    background: #E10000;
    overflow: hidden;
    z-index: 500;

    &__wrapper{
        padding: 37px 50px;
        display: flex;
        align-items: center;
        white-space: nowrap;
        animation: moveToLeft 6s ease-in-out infinite alternate;
    }

    @keyframes moveToLeft {
        from { transform: translate3d(0, 0, 0); }
        to { transform: translate3d(-157%, 0, 0); }
    }
    
    @keyframes moveToRight {
        from { transform: translate3d(-157%, 0, 0); }
        to { transform: translate3d(0, 0, 0); }
    }

    &__text{
        font-size: 136px;
        font-weight: 700;
        line-height: 146px;
        letter-spacing: -2.72px;
        color: #E8E8E8;

        &+&{
            margin-left: 62px;
        }

        &:nth-of-type(2n){
            color: #E10000; /* красный цвет текста */
            text-shadow:
            -1px -1px 0 #fff,   /* верхняя левая тень */
             1px -1px 0 #fff,   /* верхняя правая тень */
            -1px 1px 0 #fff,    /* нижняя левая тень */
             1px 1px 0 #fff; 
        }
    }
}

.about{
    background-color: #000;
    position: relative;
    color: #FFF;
    padding: 320px 0 240px;
    overflow: hidden;
    
    &__inner{
        display: flex;
    }
    &__content{
        max-width: 735px;
    }
    &__title{
        position: relative;
        z-index: 300;
        font-size: 120px;
        line-height: 130%;
        font-weight: 700;
    }
    &__text{
        position: relative;
        z-index: 300;
        margin: 40px 0 60px;
        font-size: 22px;
        line-height: 36px;
    }
    &__buttons{
        position: relative;
        z-index: 300;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 564px;
    }
    &__button{
        font-size: 24px;
        &.white-button{
            width: 272px;
            padding: 18px 20px;
        }
        &.main-button{
            width: 564px;
        }
    }
    &__video{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 200;
        top: 6%;
        right: -25%;
    }
}

.contacts{
    padding: 150px 0;
    background: #1A1A1D;
    
    &__title{
        font-size: 60px;
        line-height: 130%;
        font-weight: 700;
        color: #FFF;
    }
    &__text{
        margin: 10px 0 50px;
        font-size: 28px;
        line-height: 40px;
        color: #FFF;
    }
    &__app{
        padding: 54px 54px 60px;
        background: #FFD400;
        color: #272727;
        &-desc{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-title{
            font-size: 44px;
            line-height: 120%;
            font-weight: 600;
            margin-bottom: 12px;
        }
        &-text{
            font-size: 22px;
            line-height: 100%;
        }
        &-data{
            font-size: 22px;
            line-height: 100%;
            &+&{
                margin-top: 16px;
            }
        }
        &-fields{
            display: flex;
            gap: 22px;
            margin: 56px 0;
        }
        &-field{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
        &-label{
            font-size: 24px;
            line-height: 110%;
            margin-bottom: 18px;
        }
        &-input{
            background-color: #fff;
            padding: 22px 25px 18px;
            color: #272727;
            &::placeholder{
                font-size: 25px;
                line-height: 135%;
                color: #A9A9A9;               
            }
        }
        &-button{
            position: relative;
            text-align: center;
            font-weight: 600;
            width: 100%;
            padding: 28px 42px;
            font-size: 25px;
            line-height: 135%;
            background: #272727;
            color: #FFF;


            &::after{
                position: absolute;
                content: "";
                width: 32px;
                height: 32px;
                background-image: url(../assets/images/arrow-right.png);
                background-position: center;
                background-size: cover;
            }
        }
    }
}

.footer{
    background-color: #000;
    height: 1080px;
    color: #FFF;
    position: relative;

    &__inner{
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__top{
        position: absolute;
        top: 0;
        z-index: 400;
        width: 100%;
        margin: 72px 0 36px;

        .container{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__content{
        position: relative;
        z-index: 300;
        height: 100%;
        width: 100%;
        .container{
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__title{
        position: relative;
        z-index: 300;
        font-size: 120px;
        line-height: 130%;
        margin-bottom: 40px; 
        font-weight: 700;
    }
    &__subtitle{
        position: relative;
        z-index: 300;
        font-weight: normal;
        font-size: 28px;
        line-height: 40px;
    }

    &__socials{
        position: relative;
        z-index: 300;
        display: flex;
        &-item{
            width: 74px;
            height: 74px;
            border-radius: 50%;
            overflow: hidden;
            transition: 0.5s ease-in-out;
            
            &+&{
                margin-left: 32px;
            }
            &:hover{
                path{
                    fill: #E10000;
                }
                .footer__socials-link{
                    background-color: rgba(16, 16, 16, 0.25);
                }
                &{
                    box-shadow: 0 0 12px 0 #E10000;
                }
            }
        }
        &-link{
            background-color: #EFEFEF;
            padding: 18px;
            transition: 0.5s ease-in-out;
            width: 100px;
            height: 100%;
            display: block;
            
            &.telegram{
                padding: 23px 20px 20px 16px;
            }

            svg{
                path{
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }

    &__video{
        position: absolute;
        z-index: 200;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__bottom{
        position: absolute;
        z-index: 400;
        bottom: 0;
        padding: 60px 0;
        width: 100%;
        &-links{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            line-height: 30px;
            a{
                color: #FFF;
            }
        }
    }
}





@media (max-width: 1500px) {
    .container{
        max-width: 1040px;
    }

    .logo{
        font-size: 24px;
        line-height: 28px;
    }

    .white-button{
        padding: 8px 16px;
    }

    .navbar{
        &__item{      
            line-height: 120%;
            text-align: center;
            &+&{
                margin-left: 16px;
            }
            &:last-child{
                padding-left: 16px;
            }
        }
        &__link{
            font-size: 14px;
        }
    }

    .header{
        &__logo{
            margin-right: 45px;
        }
        padding: 20px 0;
        &__button{
            font-size: 14px;
            line-height: 120%;
        }
    }

    .banner{
        &__wrapper{
            padding: 25px 35px;
        }
        &__text{
            font-size: 80px;
            line-height: 120%;
            &+&{
                margin-left: 45px;
            }
        }
        
    @keyframes moveToLeft {
        from { transform: translate3d(0, 0, 0); }
        to { transform: translate3d(-112%, 0, 0); }
    }
    
    @keyframes moveToRight {
        from { transform: translate3d(-112%, 0, 0); }
        to { transform: translate3d(0, 0, 0); }
    }
    }

    .about{
        padding: 160px 0;
        &__content{
            max-width: 420px;
        }
        &__title{
            font-size: 70px;
        }
        &__text{
            font-size: 18px;
            line-height: 170%;
            margin: 24px 0 32px;
        }
        &__buttons{
            max-width: 100%;
        }
        &__button{
            font-size: 16px;
            &.white-button{
                padding: 12px 20px;
                width: 200px;
            }
            &.main-button{
                padding: 14px;
                width: 420px;
            }
        }
        &__video{
            top: 4%;
            right: -20%;
        }
    }

    .contacts{
        padding: 80px 0;
        &__title{
            font-size: 45px;
            line-height: 120%;
        }
        &__text{
            font-size: 24px;
            margin: 5px 0 30px;
        }
        &__app{
            padding: 40px 25px;
            &-title{
                font-size: 32px;
            }
            &-text{
                font-size: 18px;
                margin-top: 6px;
            }
            &-data{
                font-size: 18px;
                &+&{
                    margin-top: 10px;
                }
            }
            &-fields{
                margin: 42px 0;
            }
            &-label{
                font-size: 18px;
                margin-bottom: 12px;
            }
            &-input{
                padding: 16px 20px 12px;
                &::placeholder{
                    font-size: 20px;
                }
            }
            &-button{
                padding: 20px 32px;
            }
        }
    }

    .footer{
        height: 900px;
        &__top{
            margin-top: 56px;
        }
        &__title{
            font-size: 80px;
            line-height: 120%;
            margin-bottom: 25px;
        }
        &__subtitle{
            font-size: 20px;
            line-height: 120%;
        }
        &__socials{
            &-item{
                width: 56px;
                height: 56px;
                &+&{
                    margin-left: 28px;
                }
            }
            &-link{
                &.instagram{
                    padding: 9px 12px 7px;
                }
                &.whatsapp{
                    padding: 10px 7px 17px 13px;
                }
                &.telegram{
                    padding: 14px 10px 10px 10px;
                }
            }
            svg{
                width: 32px;
            }
        }
        &__bottom {
            padding: 25px 0;
            a{
                font-size: 14px;
                line-height: 150%;
            }
        }
    }
}

@media (max-width: 970px){
    .header{ 
        &__navbar{
            opacity: 0;
            position: absolute;
            z-index: 300;
            top: 0;
            left: 0;
            width: 100vw;
            min-height: 100vh;
            display: block;
            text-align: center;
            background-color: #1E1E1F;
            padding: 20px;
            transition: 0.5s ease-in-out;

            &.active{
                opacity: 1;
            }

            &-list{
                margin-top: 75px;
                flex-direction: column;
            }
            &-item{
                &+&{
                    margin: 30px 0 0;
                }
                &:last-child{
                    padding: 0;
                    &::before{
                        content: "";
                    }
                }
            }
            &-link{
                font-size: 24px;
            }
        }
        &__menu{
            &-wrapper{
                position: absolute;
                z-index: 500;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 64px;
                height: 32px;
            }

            &-icon{
                position: relative;
                width: 100%;
                height: 100%;

                &.active{
                    span{
                        &.first-line{
                            width: 34px;
                            transform: rotate(45deg) translateY(-50%);
                            top: 50%;
                        }
                        &.second-line{
                            width: 34px;
                            transform: rotate(-45deg) translateY(50%);
                            bottom: 50%;
                        }
                    }
                }
                span{
                    position: absolute;
                    display: block;
                    background-color: #fff;
                    border-radius: 2px;
                    transition: 0.5s ease;

                    &.first-line{
                        right: 0;
                        top: 25%;
                        transform: translateY(-50%);
                        width: 34px;
                        height: 2px;
                    }
                    &.second-line{
                        right: 0;
                        bottom: 25%;
                        transform: translateY(50%);
                        width: 49px;
                        height: 2px;
                    }
                }
            }
        }
        &__button{
            margin-top: 200px;
            width: 100%;
            font-size: 24px;
            padding: 16px 32px;
            max-width: 540px;
        }
    }

    .banner{
        &__wrapper{
            padding: 20px 30px;
        }
        &__text{
            font-size: 60px;
            &+&{
                margin-left: 30px;
            }
        }
    }

    .about{
        padding: 80px 0;
        &__inner{
            width: 100%;
            justify-content: center;
        }
        &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 600px;
        }
        &__title{
            font-size: 50px;
        }
        &__text{
            font-size: 16px;
            margin: 20px 0 0;
            text-align: justify;
        }
        &__video{
            position: relative;
            top: 0;
            right: 0;
        }
        &__buttons{
            max-width: 520px;
        }
        &__button{
            font-size: 24px;
            padding: 18px;
            line-height: 100%;
            &.main-button{
                width: 520px;
            }
            &.white-button{
                padding: 13px;
                width: 250px;
            }
        }
    }

    .contacts{
        &__title{
            font-size: 36px;
            text-align: center;
        }
        &__text{
            font-size: 20px;
            margin: 0 0 54px;
            text-align: center;
        }
        &__app{
            max-width: 640px;
            margin: 0 auto;
            &-text{
                display: none;
            }
            &-desc{
                flex-direction: column;
                align-items: start;
            }
            &-fields{
                flex-direction: column;
                margin: 32px 0;
            }
            &-input{
                padding: 16px 16px 12px;
            }
            &-label{
                margin-bottom: 8px;
            }
            &-button{
                font-size: 16px;
                padding: 20px;
                &::after{
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .footer{
        height: 1000px;
        &__inner{
            display: flex;
            flex-direction: column;
        }
        &__top{
            margin: 0;
            order: 1;
            position: relative;
            padding: 40px 0;
            background-color: #101011;
            .container{
                flex-direction: column;
            }
        }
        &__navbar{
            &-list{
                flex-direction: column;
            }
            &-item{
                margin-top: 20px;
                &:last-child{
                    padding: 0;
                    &::before{
                        content: "";
                    }
                }
            }
            &-link{
                font-size: 20px;
                line-height: 150%;
            }
        }
        &__title{
            font-size: 60px;
            margin-bottom: 16px;
        }
        &__subtitle{
            font-size: 30px;
            max-width: 400px;
        }
        &__bottom{
            order: 3;
            position: relative;
            padding: 0;
            background-color: #101011;
            &-links{
                text-align: center;
                padding: 20px 0;
                border-top: 1px solid rgba(255, 255, 255, .5);
                flex-direction: column;
                a{
                    font-size: 18px;
                    margin: 10px 0;
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .header{
        &__navbar{
            align-items: flex-start;
            width: 100%;
            &-list{
                align-items: flex-start;
            }
        }
        &__button{
            font-size: 14px;
            width: 100%;
        }
    }

    .banner{
        &__text{
            font-size: 40px;
            line-height: 100%;
            &+&{
                margin-left: 20px;
            }
        }
    }

    .about{
        &__content{
            align-items: flex-start;
            width: 100%;
            position: relative;
        }
        &__title{
            font-size: 40px;
        }
        &__buttons{
            display: block;
            max-width: 100%;
        }
        &__button{
            margin: 10px 0;
            &.main-button{
                width: 100%;
            }
            &.white-button{
                width: 100%;
            }
        }       
    }

    .contacts{
        &__title{
            font-size: 32px;
            line-height: 48px;
        }
        &__text{
            font-size: 16px;
            line-height: 20px;
        }
        &__app{
            padding: 20px 16px;
            &-title{
                font-size: 20px;
                margin-bottom: 20px;
            }
            &-data{
                font-size: 16px;
                &+&{
                    margin-top: 16px;
                }
            }
            &-label{
                font-size: 16px;
            }
            &-input{
                border-radius: 5px;
                &::placeholder{
                    font-size: 14px;
                }
            }
            &-button{
                border-radius: 5px;
            }
        }
    }

    .footer{
        &__navbar{
            &-item{
                &+&{
                    margin: 15px 0;
                }
            }
        }
        &__title{
            font-size: 40px;
            margin-bottom: 25px;
        }
        &__subtitle{
            font-size: 20px;
            max-width: 250px;
        }
        &__socials{
            &-item{
                width: 32px;
                height: 32px;
                &+&{
                    margin-left: 20px;
                }
                svg{
                    width: 16px;
                }
            }
            &-link{
                &.instagram{
                    padding: 0px 10px 50px 8px;
                    margin-top: -3px;
                }
                &.whatsapp{
                    padding: 0 15px 95px 10px;
                    margin-top: -2px;
                    margin-left: -2px;
                }
                &.telegram{
                    padding: 2px 15px 20px 8px;
                    margin-left: -1px;
                }
            }
        }
    }
}